**Control Flow and Loops**
conditional statements

**if else statement**

In [ ]:
age=18
if age>=18:
    print("you are eligible to vote.")

you are eligible to vote.

In [ ]:
num=int(input("enter a number: "))
if num%2==0:
   print("even number")
else:
   print("odd number")

enter a number: 4
even number

**if-elif-else statement**

In [ ]:
marks=int(input("enter your marks: "))
if marks>=90:
  print("Grade: A")
elif marks>=75:
  print("Grade: B")
elif marks>=50:
  print("Grade: C")
else:
  print("Grade: F")

enter your marks: 55
Grade: C

**Loops**
for loop

In [ ]:
for i in range(5):
  print("Iteration:",i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [ ]:
for i in range(5,10):
  print("Iterearation:", i)

Iterearation: 5
Iterearation: 6
Iterearation: 7
Iterearation: 8
Iterearation: 9

In [ ]:
for i in range(5,50,5):
  print("Iteration:", i)

Iteration: 5
Iteration: 10
Iteration: 15
Iteration: 20
Iteration: 25
Iteration: 30
Iteration: 35
Iteration: 40
Iteration: 45

**while loop**

In [ ]:
count = 0
while count < 5:
  print("count:", count)
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

**control flow tools**

In [ ]:
#break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

**continue**

In [ ]:
#continue
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

**pass**

In [ ]:
#pass
for i in range(10):
  if i==5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

**Hands on practice**

**odd or even**

In [ ]:
number=int(input("enter a number:"))
if number%2==0:
  print("the number is even.")
else:
  print("the number is odd.")

enter a number:5
the number is odd.

**sum of numbers in given range**

In [ ]:
number=int(input("enter a number:"))
if number%2==0:
  print("the number is even.")
else:
  print("the number is odd.")

enter the start of the range: 5
enter the end of the range: 10
the sum is: 45

**sum of factorial**

In [ ]:
number=int(input("eneter a number:"))
factorial=1
for i in range(1,number+1):
  factorial*=i
print("the factorial is:",factorial)

eneter a number:5
the factorial is: 120

**Fibonacci Sequence**

In [ ]:
n=int(input("enter the number of terms:"))
a,b=0,1
for i in range(n):
  print(a,end=" ")
  a,b=b,a+b

enter the number of terms:5
0 1 1 2 3

**simple calculator using if-else**

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
operation=input("enter operation(+,-,*,/,%,**-):")
if operation=='+':
  print("result:",num1+num2)
elif operation=='-':
  print("result:",num1-num2)
elif operation=='*':
  print("resuil:",num1*num2)
elif operation=='/':
  print("result:",num1/num2)
elif operation=='%':
  print("result:",num%num2)
elif operation=='**':
  print("result:",num**num2)
else:
  print("invalid operation")

enter first number:6
enter second number:9
enter operation(+,-,*,/,%,**):+
result: 15.0

**leap year**

In [ ]:
year=int(input("enter a year:"))
if(year%4==0 and year%100!=0)or(year%400==0):
  print("leap year:")
else:
  print("not a leap year")

enter a year:1996
leap year:

**find the largest of three numbers**

In [ ]:
num1=float(input("enter first number:"))
num1=float(input("enter second number:"))
num1=float(input("enter third number:"))
if num1>=num2 and num1>=num3:
  print("largest number is:",num1)
elif  num>=num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter first number:4
enter second number:5
enter third number:7
largest number is: 7.0

**sum of all even numbers in a range**

In [ ]:
start=int(input("enter start of range:"))
end=int(input("enter end of range:"))
even_sum=0
for num in range(start,end+1):
  if num%2==0:
    even_sum+=num
print('sum of even numbers:',even_sum)

enter start of range:5
enter end of range:6
sum of even numbers: 6